<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TesteSuite" >
	<test name="SuiteTest" >
		<classes>
			<class name="tests.HomePageTest" />
			<class name="tests.ListaPresenteTest" />
			<class name="tests.NossasLojasTest" />
			<class name="tests.LoginTest" />
			<class name="tests.CarrinhoTest" />
		</classes>
	</test>
</suite>