<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TesteSuite" >
	<test name="SuiteTest" >
		<classes>
			<class name="tests.HomePage_Test" />
			<class name="tests.ListaPresente_Test" />
			<class name="tests.NossasLojas_Test" />
			<class name="tests.Login_Test" />
			<class name="tests.Carrinho_Test" />
		</classes>
	</test>
</suite>